*{margin: 0; padding: 0;}
body{background-color: rgb(244,244,246);

}
header {
    background-color: rgb(40, 133, 202);
    text-align: center;
    color: white;
    line-height: 44px;
    font-size: 18px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.ab img{
    width: 100%;
    margin-bottom: -20px;}

footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    margin-bottom: 10px;
    left: 0;
    bottom: -10px;
    position: fixed;
}
footer a{
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
footer a span{
    display: block;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
}
footer a img{
    width: 18px;
}

